# Gradle
*.iml
.gradle
!gradle-wrapper.jar

# Android Studio / IntelliJ
/local.properties
/.idea/*
.DS_Store
**/.DS_Store

# Build outputs
/build
**/build/
/captures
.externalNativeBuild
.cxx

# Signing / release
*.jks
*.keystore
/release
